# игнорировать все объектные файлы
*.o
*.out
*.hi
*.beam

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
*tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi
*.fdb_latexmk
*.fls
*.pyg
*.synctex.gz

# игнорировать промежуточные sage файлы
*.sage.py
