# игнорировать все объектные файлы
*.o
*.out
*.hi
*.beam

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi

# игнорировать промежуточные sage файлы
*.sage.py
